<!doctype html>
<!--
  Material Design Lite
  Copyright 2015 Google Inc. All rights reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License
-->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Material Design Lite</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/android-desktop.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href={{ url_for('static',filename="images/favicon.png") }}>

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-red.min.css" />
    <script defer src="https://code.getmdl.io/1.3.0/matrial.min.js"></script>
    <script type="text/javascript" src={{ url_for('static', filename='js/jquery.js') }}></script>
      <script type="text/javascript" src={{ url_for('static', filename='js/func.js') }}></script>
    <script type="text/javascript" src={{ url_for('static', filename='js/sijax/sijax.js') }}></script>
    <script type="text/javascript" src={{ url_for('static', filename='js/sijax/sijax_comet.js') }}></script>
    <link rel="stylesheet" href={{ url_for('static', filename="styles.css") }}>
    <style>
    #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
    }
    </style>
  </head>
  <body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
          <h3>Name &amp; Title</h3>
        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        </div>
        <nav class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
          <a href="#overview" class="mdl-layout__tab is-active">Overview</a>
          <a href="#features" class="mdl-layout__tab">Features</a>
          <a href="#FAQ" class="mdl-layout__tab">FAQ</a>
            <div class="mdl-layout-spacer"></div>
          <a href="#auth" class="mdl-layout__tab">auth</a>
        </nav>
      </header>
      <main class="mdl-layout__content">
        <div class="mdl-layout__tab-panel is-active" id="overview">

            <div style="padding-bottom: 40px;">
                <div style="width: 250px; float: left;">
                    <label for="threads" id="thread_info">Количество потоков: 1</label>
                    <input id="threads" class="mdl-slider mdl-js-slider" style="width: 250px" type="range"
                        min="1" max="4" value="1" tabindex="0" onchange="document.getElementById('thread_info').textContent ='Количество потоков: ' + document.getElementById('threads').value;">
                </div>
                <button style="margin-left: 20px; display: inline-block;" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                        onclick="Sijax.request('launch_uids_parser',[document.getElementById('threads').value]);">Запустить сборщик</button>
                <button style="margin-left: 20px; display: inline-block;" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                        onclick="Sijax.request('stop_uids_parser');">Остановить сборщик</button>
            </div>
            <div class="demo-card-wide mdl-card mdl-shadow--4dp resized" style="min-width: 100%;" >
                <div class="mdl-card__supporting-text left" id="log_container">
                    <script> setInterval(function() {
                                    $.ajax({
                                    url: "/get_info",
                                    type: 'POST',
                                    success: function (responce) {
                                        console.log(responce);
                                    },
                                    error: function (error) {
                                        console.log(error);
                                    }

                                });
                            },1000)</script>
                </div>
            </div>

        </div>
        <div  style="margin-top: 20px"  class="mdl-layout__tab-panel" id="features">

        </div>
        <div class="mdl-layout__tab-panel" id="FAQ">
            <label for="test_login">
            <input type="text" id="test_login">
            <label for="test_password">
            <input type="password" id="test_password">
            <button onclick="Sijax.request('test', [document.getElementById('test_login').value, document.getElementById('test_password').value, 'DILDO']);">Button</button>
            <div id="ccck"></div>

        </div>

        <div class="mdl-layout__tab-panel" id="auth">
            <form  action={{ url_for('index')}} method="POST">
                <p>
                    <label for="login">Введите логин</label>
                    <input type="text" id="login">
                </p>
                <p>
                    <label for="password">Введите пароль</label>
                    <input type="password" id="password">
                </p>
                <p>
                    <button type="submit" value="submit">Отправить</button>
                </p>
            </form>
        </div>
        <footer class="mdl-mega-footer">
          <div class="mdl-mega-footer--middle-section">
            <div class="mdl-mega-footer--drop-down-section">
              <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
              <h1 class="mdl-mega-footer--heading">Features</h1>
              <ul class="mdl-mega-footer--link-list">
                <li><a href="#">About</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Partners</a></li>
                <li><a href="#">Updates</a></li>
              </ul>
            </div>
            <div class="mdl-mega-footer--drop-down-section">
              <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
              <h1 class="mdl-mega-footer--heading">Details</h1>
              <ul class="mdl-mega-footer--link-list">
                <li><a href="#">Spec</a></li>
                <li><a href="#">Tools</a></li>
                <li><a href="#">Resources</a></li>
              </ul>
            </div>
            <div class="mdl-mega-footer--drop-down-section">
              <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
              <h1 class="mdl-mega-footer--heading">Technology</h1>
              <ul class="mdl-mega-footer--link-list">
                <li><a href="#">How it works</a></li>
                <li><a href="#">Patterns</a></li>
                <li><a href="#">Usage</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Contracts</a></li>
              </ul>
            </div>
            <div class="mdl-mega-footer--drop-down-section">
              <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
              <h1 class="mdl-mega-footer--heading">FAQ</h1>
              <ul class="mdl-mega-footer--link-list">
                <li><a href="#">Questions</a></li>
                <li><a href="#">Answers</a></li>
                <li><a href="#">Contact us</a></li>
              </ul>
            </div>
          </div>
          <div class="mdl-mega-footer--bottom-section">
            <div class="mdl-logo">
              More Information
            </div>
            <ul class="mdl-mega-footer--link-list">
              <li><a href="https://developers.google.com/web/starter-kit/">Web Starter Kit</a></li>
              <li><a href="#">Help</a></li>
              <li><a href="#">Privacy and Terms</a></li>
            </ul>
          </div>
        </footer>
      </main>
    </div>
    <a href="https://github.com/google/material-design-lite/blob/mdl-1.x/templates/text-only/" target="_blank" id="view-source" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">View Source</a>
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  </body>
</html>
